@charset "UTF-8";

.image{
	position: absolute;
	top: 9%;
	left: 15%;
	border: 1 ;
	width: 400px;
	height: 400px;
	
}
.sideText{
	position: relative;
	width: 800px;
	height: 400px;
	margin-top: 5%;
	top:15%;
	left:40%;
	
}
.sideText input{
	position: relative;
	font-size: 1.5em;
	margin-left: 5%;
}

.deili_info{
	text-align:center;
	margin-left: 14.5%;
	width: 1230px;
}
.orderPrice{
	text-align:center;
	margin-left: 14.5%;
	width: 1230px;
}
.chargeInfo{
	text-align:center;
	margin-left: 14.5%;
	width: 1230px;
}
.plusPoint{
	text-align:center;
	margin-left: 14.5%;
	width: 1230px;
}

