@charset "UTF-8";

 body{
    font-size: 1em;
    overflow-x: hidden;
}
/*header, */article, aside{
	display: inline-block;
	half-leading: center;    
}

details{
	visibility: visible;
	half-leading: center;
}
p,h6{
	half-leading: center;
}
#sidebar{
    position: relative;
    left: 75%;
	width: 30vw;
	float: right;
    padding: 10px;
}
.grayText span{
    color: black;
}
.grayText{
    position: relative;
    left: 27%;
    color: gray;
}


div.content{
    position: relative;
    width: 65vw;
    float: left;
}
table.contentTable{
    
    width: 60vw;
    height: 7vh;
}
table.sideTable{
    width: 30vw;
    height: 7vh;
}

table.detailTable{
    height: 4.5vh;
    width: 60vw;
}

table.sideDetailTable{
    height: 4.5vh;
    width: 30vw;
}

table.permitTable{
    height: 3vh;
    width: 60vw;
}

article{
    position: relative;
    left: 2%;
	border: 3px;
}
#btn{
    width: 250px;
    height: 50px;
    position: relative;
    bottom: 5%;
    left: 32%;
}
details{
    height: 4%;
}


