@charset "UTF-8";

/* ::before, ::after { box-sizing: border-box; } */

body { overflow-x: hidden; line-height: 1; font-family: "Roboto","Noto",sans-serif; font-weight: 500; font-size: 14px; letter-spacing: -1px; color: #000; } */
td { word-wrap: break-word; word-break: keep-all; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

label, select, input, textarea { vertical-align: middle; }

input, select, textarea { font-size: 1em; vertical-align: middle; }

input[type="text"], input[type="submit"], input[type="password"], input[type="search"], input[type="number"], input[type="reset"], input[type="email"], input[type="tel"], input[type="search"], input[type="file"], input[type="email"], input[type="tel"], textarea { width: 100%; border-radius: 0; box-shadow: none; -webkit-appearance: none; border: 1px solid #ddd; height: 42px; box-sizing: border-box; padding: 0 20px; font-size: 15px; color: #111; letter-spacing: -0.2px; font-weight: 500; font-family: "Roboto","Noto",sans-serif; }

input[type="submit"] { cursor: pointer; }

input[readonly] { background: #f5f5f5; color: #000; }

select:disabled, input:disabled { background: #f5f5f5; color: #111; }

input[type="text"], input[type="password"], textarea { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="text"]:hover, input[type="password"]:hover, textarea:hover { border: 1px solid #000; outline: none; }

input[type="text"]::-ms-clear { width: 0; height: 0; display: none; }

select { border: 1px solid #ddd; padding: 0 0 0 20px; background: #fff; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; outline: none; font-weight: 500; font-family: "Roboto","Noto",sans-serif; color: #888888; width: 100%; height: 42px; font-size: 15px; }

select::-ms-expand { display: none; }

option.title { display: none; }

textarea { border: solid 1px #ddd; height: 96px; box-sizing: border-box; padding: 12px; width: 100%; border-radius: 0; overflow: auto; -webkit-appearance: none; -moz-appearance: none; appearance: none; line-height: 20px; }

button { border: 0; box-shadow: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

button:focus, button:hover { outline: none; }

::-webkit-input-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

::-moz-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

::-ms-input-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

::-webkit-input-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

:-moz-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

:-ms-input-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

::-ms-input-placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

::placeholder { color: #bbb; font-weight: 500; font-size: 14px; letter-spacing: -0.4px; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, input:focus::-moz-placeholder, textarea:focus::-moz-placeholder, input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder { color: transparent; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-text-fill-color: #000; -webkit-box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s; }

.hidden { position: absolute; width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; }

/* 본문 내용 가운데 정렬 */
.inner-box, #gnb .gnb-inner { position: relative; width: 1200px; margin: 0 auto; }

[class^='sub-type'] { padding-bottom: 100px; }
[class^='sub-type'] .page-title-wrap { position: relative; margin-top: 50px; }
[class^='sub-type'] .page-title-wrap .depth-area { position: absolute; right: 0; top: 16px; }
[class^='sub-type'] .page-title-wrap .depth-area ol { font-size: 0; }
[class^='sub-type'] .page-title-wrap .depth-area ol li { display: inline-block; font-size: 13px; color: #888888; }
[class^='sub-type'] .page-title-wrap .depth-area ol li a, [class^='sub-type'] .page-title-wrap .depth-area ol li strong { font-size: inherit; font-weight: inherit; color: #888888; }
[class^='sub-type'] .page-title-wrap .depth-area ol li strong { color: #111; }
[class^='sub-type'] .page-title-wrap .depth-area ol li:before { display: inline-block; content: ''; margin: 3px 8px 2px 6px; display: inline-block; width: 6px; height: 6px; border-style: solid; border-color: transparent #888888 #888888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
[class^='sub-type'] .page-title-wrap .depth-area ol li:first-child:before { display: none; }
[class^='sub-type'] .page-title-wrap.v2 { padding-bottom: 28px; border-bottom: 2px solid #111; }
[class^='sub-type'] .page-title { font-size: 32px; color: #111; font-weight: 400; }
[class^='sub-type'] .menu-nav-wrap { position: relative; margin-top: 28px; padding-bottom: 15px; border-bottom: 2px solid #111; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul { font-size: 0; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul li { display: inline-block; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul li a { font-size: 16px; color: #888888; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul li.active a { font-weight: 600; color: #111; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul li:before { display: inline-block; content: ''; width: 1px; height: 14px; margin: 2px 20px 0; background: #ddd; vertical-align: top; }
[class^='sub-type'] .menu-nav-wrap .menu-nav ul li:first-child:before { display: none; }
[class^='sub-type'] .menu-sub-wrap { margin-top: 14px; padding-bottom: 14px; border-bottom: 1px solid #111; }
[class^='sub-type'] .menu-sub-wrap .menu-sub { font-size: 0; }
[class^='sub-type'] .menu-sub-wrap .menu-sub li { display: inline-block; background: #fff; border-radius: 12px; transition: .3s ease; }
[class^='sub-type'] .menu-sub-wrap .menu-sub li a { padding: 0 14px; display: block; font-size: 14px; line-height: 24px; color: #222; }
[class^='sub-type'] .menu-sub-wrap .menu-sub li + li { margin-left: 5px; }
[class^='sub-type'] .menu-sub-wrap .menu-sub li.active { background: #ff143c; }
[class^='sub-type'] .menu-sub-wrap .menu-sub li.active a { color: #fff; }

#defaultLoading { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 99; }
#defaultLoading img { width: auto; }

[class^='btn-wrap'] { 
display:flex;
flex-direction:row;
flex-wrap:nowrap;
 margin-top: 30px; font-size: 0; text-align: center; 
[class^='btn']{
	display:inline-flex;
	width:100%;
	text-align:center;
	justify-content:center;
}
[class^='btn-type4']{
	width:auto;
}
 }
[class^='btn-wrap'] [class^='btn-'] + [class^='btn-'] { margin-left: 12px; }
[class^='btn-wrap'] .btn-type-left { width: 284px; justify-content: left; }

.btn-wrap, .btn-wrap2 { width: 100%; }

.btn-wrap2 { text-align: left; }

[class^='btn-type'] { position: relative; }
[class^='btn-type'] .ico-plus { display: inline-block; width: 11px; height: 12px; margin-right: 8px; background: 0; display: inline-block; position: relative; width: 11px; height: 11px; vertical-align: middle; }
[class^='btn-type'] .ico-plus:after, [class^='btn-type'] .ico-plus:before { content: ''; display: block; position: absolute; background: #999; }
[class^='btn-type'] .ico-plus:after { margin-top: -0.5px; top: 50%; left: 0; width: 11px; height: 1px; }
[class^='btn-type'] .ico-plus:before { margin-left: -0.5px; top: 0; left: 50%; width: 1px; height: 11px; }
[class^='btn-type'] .arr { display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); transform: translateY(-50%) rotate(-45deg); margin-left: 5px; }

.fixed-btn-bottom { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 50; }
.fixed-btn-bottom .btn-wrap, .fixed-btn-bottom .btn-wrap2 { margin: 0; }
.fixed-btn-bottom .btn-wrap .btn-type, .fixed-btn-bottom .btn-wrap2 .btn-type { font-size: 23px; font-weight: 600; height: inherit; line-height: inherit; padding: 24px 0 42px; }
.fixed-btn-bottom .btn-wrap .btn-type.disable, .fixed-btn-bottom .btn-wrap2 .btn-type.disable { background-color: #888; border-color: #888; }

[class^='btn-type'] { display: inline-block; position: relative; text-align: center; }
[class^='btn-type'] [class^='ico'] { margin-right: 9px; margin-top: 20px; }
[class^='btn-type'] .ico-spot { margin-top: 15px; }
[class^='btn-type'] .ico-logo2 { margin-top: 12px; }
[class^='btn-type'].arrow:after { display: inline-block; content: ''; position: absolute; top: 50%; right: 10px; margin-top: -4px; width: 9px; height: 9px; display: inline-block; width: 9px; height: 9px; border-style: solid; border-color: transparent #888888 #888888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.btn-type { width: 240px; height: 62px; background: #ff143c; border: 1px solid #ff143c; color: #fff; font-size: 18px; line-height: 62px; font-weight: 500; }
.btn-type.v2 { background: #222; border-color: #222; }
.btn-type.v3, .btn-type.chk-box.v4 { width: 220px; }
.btn-type.v4 { width: 220px; font-weight: 400; background: #222; border-color: #222; }
.btn-type.v5 { width: 220px; background: #fff; border: 1px solid #ddd; color: #888888; }
.btn-type.v6 { width: 220px; font-weight: 400; }
.btn-type.v7 { width: 120px; height: 42px; line-height: 42px; font-size: 16px; color: #ddd; background: #222; border-color: #222; }
.btn-type.v8 { width: 200px; background: #222; border-color: #222; }

.btn-type-brd, .btn-type-brd3, .btn-type-brd4, .btn-type-brd5, .btn-type-brd6 { width: 100%; height: 60px; background: #fff; border: 1px solid #ddd; font-weight: 500; line-height: 60px; color: #888888; font-size: 17px; }
.btn-type-brd .ico-plus, .btn-type-brd3 .ico-plus, .btn-type-brd4 .ico-plus, .btn-type-brd5 .ico-plus, .btn-type-brd6 .ico-plus { margin-top: -3px; margin-right: 5px; }

.btn-type-brd2 { width: 180px; height: 54px; line-height: 54px; font-size: 15px; background: #fff; border: 1px solid #cccccc; font-weight: 500; color: #888888; }
.btn-type-brd2 .ico-plus { display: inline-block; position: relative; width: 12px; height: 12px; margin-top: -3px; margin-right: 5px; }
.btn-type-brd2 .ico-plus:after, .btn-type-brd2 .ico-plus:before { content: ''; display: block; position: absolute; background: #888888; }
.btn-type-brd2 .ico-plus:after { margin-top: -0.5px; top: 50%; left: 0; width: 12px; height: 1px; }
.btn-type-brd2 .ico-plus:before { margin-left: -0.5px; top: 0; left: 50%; width: 1px; height: 12px; }

.btn-type-brd3, .btn-type-brd4 { width: 220px; height: 62px; line-height: 62px; font-size: 18px; border: 1px solid #888888; color: #888888; font-weight: 500; }

.btn-type-brd4 { border: 1px solid #ff143c; color: #ff143c; }
.btn-type-brd4 .ico-plus { display: inline-block; position: relative; width: 10px; height: 10px; }
.btn-type-brd4 .ico-plus:after, .btn-type-brd4 .ico-plus:before { content: ''; display: block; position: absolute; background: #ff143c; }
.btn-type-brd4 .ico-plus:after { margin-top: -0.5px; top: 50%; left: 0; width: 10px; height: 1px; }
.btn-type-brd4 .ico-plus:before { margin-left: -0.5px; top: 0; left: 50%; width: 1px; height: 10px; }

.btn-type-brd5 .ico-plus { display: inline-block; position: relative; width: 10px; height: 10px; }
.btn-type-brd5 .ico-plus:after, .btn-type-brd5 .ico-plus:before { content: ''; display: block; position: absolute; background: #ff143c; }
.btn-type-brd5 .ico-plus:after { margin-top: -0.5px; top: 50%; left: 0; width: 10px; height: 1px; }
.btn-type-brd5 .ico-plus:before { margin-left: -0.5px; top: 0; left: 50%; width: 1px; height: 10px; }

.btn-type-brd6 { position: relative; height: 53px; border: 0; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; line-height: 53px; color: #888888; font-size: 14px; justify-content: left !important; }
.btn-type-brd6:after { content: ''; position: absolute; top: 22px; right: 20px; display: inline-block; width: 9px; height: 9px; border-style: solid; border-color: transparent #888888 #888888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.btn-type1 { width: 100%; height: 60px; line-height: 60px; border: 1px solid #ff143c; background: #ff143c; color: #fff; font-size: 18px; font-weight: 500; }

.btn-type2, .btn-type3, .btn-type3-brd { width: 100%; height: 48px; background: #fff; border: 1px solid #cecece; font-size: 16px; color: #888888; line-height: 48px; font-weight: 600; border-radius: 25px; transition: all 0.3s ease-in-out; }
.btn-type2.active, .active.btn-type3, .active.btn-type3-brd { background: #ff143c; border: 1px solid #ff143c; color: #fff; font-weight: 700; }

.btn-type2-brd { width: 48.5%; padding: 18px 0; background: #fff; border: 1px solid #888888; font-size: 16px; color: #888888; }

.btn-type3, .btn-type3-brd { height: 60px; line-height: 60px; border: 1px solid #ff143c; background: #ff143c; color: #fff; font-size: 16px; font-weight: 600; border-radius: 0; }

.btn-type3-brd { height: 60px; line-height: 60px; background: #fff; border: 1px solid #ddd; color: #888888; font-size: 16px; }

.btn-type4, .btn-type4-brd, .btn-type4-brd2, .btn-type4-brd3, .btn-type4-brd4 { padding: 0 13px; height: 30px; border: 1px solid #ff143c; font-size: 14px; color: #ff143c; line-height: 30px; font-weight: 600; border-radius: 14px; }
.btn-type4.v2, .v2.btn-type4-brd, .v2.btn-type4-brd2, .v2.btn-type4-brd3, .v2.btn-type4-brd4 { background: #222222; border: 1px solid #222222; border-radius: 0; color: #fff; font-weight: 400; }
.btn-type4.v3, .v3.btn-type4-brd, .v3.btn-type4-brd2, .v3.btn-type4-brd3, .btn-type4-brd3.chk-box.v4, .btn-type4-brd2.chk-box.v4, .btn-type4-brd.chk-box.v4, .v3.btn-type4-brd4, .btn-type4-brd4.chk-box.v4, .btn-type4.chk-box.v4 { padding: 0 8px; height: 25px; line-height: 25px; font-size: 14px; background: #ff143c; border: 1px solid #ff143c; border-radius: 0; color: #fff; font-weight: 400; }

.btn-type4-brd, .btn-type4-brd2, .btn-type4-brd3 { color: #888888; border: 1px solid #888888; }

.btn-type4-brd2, .btn-type4-brd3 { border-radius: 0; }

.btn-type4-brd3 { color: #fff; border: 1px solid #fff; }

.btn-type4-brd4 { height: inherit; line-height: 1; padding: 0; border: 0; border-bottom: 1px solid #888888; border-radius: 0; font-size: 14px; color: #888888; font-weight: 300; }

.btn-type5 { width: 48.5%; height: 32px; background: #222222; border: 1px solid #222; font-size: 13px; color: #fff; line-height: 32px; border-radius: 25px; }

.btn-type-left { position: relative; padding-left: 20px; width: 284px; text-align: left; height: 50px; background: #222222; color: #dddddd; font-size: 14px; line-height: 50px; font-weight: 600; justify-content: left; }
.btn-type-left:after { content: ''; position: absolute; top: 20px; right: 20px; display: inline-block; width: 9px; height: 9px; border-style: solid; border-color: transparent #fff #fff transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.btn-type-left.v2 { width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; color: #888888; padding-left: 7px; font-size: 16px; font-weight: 500; }
.btn-type-left.v2:after { top: 19px; right: 9px; display: inline-block; width: 8px; height: 8px; border-style: solid; border-color: transparent #888888 #888888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.btn-text-more { height: 42px; line-height: 42px; padding: 0 18px; border: 1px solid #dddddd; font-size: 13px; color: #555555; background: #fff; }
.btn-text-more:after { content: ''; margin-left: 8px; display: inline-block; width: 8px; height: 8px; border-style: solid; border-color: transparent #555555 #555555 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); vertical-align: -1px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.btn-text-more.active:after { display: inline-block; width: 8px; height: 8px; border-style: solid; border-color: transparent #555555 #555555 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); vertical-align: 3px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

[class^='tab-type'] { text-align: center; }
[class^='tab-type'] ul { font-size: 0; margin-left: 1px; }
[class^='tab-type'] ul.col-1 li { width: 100%; }
[class^='tab-type'] ul.col-3 li { width: calc(33.3% + 1px); }
[class^='tab-type'] ul.col-free li { width: inherit; margin: 0 25px; }
[class^='tab-type'] li { display: inline-block; width: calc(50% + 1px); margin: 0 0 0 -1px; }
[class^='tab-type'] li:nth-child(n+2) { margin-left: -1px; }
[class^='tab-type'] li a { position: relative; z-index: 1; display: block; height: 60px; font-size: 20px; color: #888888; text-align: center; line-height: 60px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
[class^='tab-type'] li a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 1px solid #dddddd; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
[class^='tab-type'] li.active a { background: #222222; z-index: 2; color: #fff; font-weight: 600; }
[class^='tab-type'] li.active a:after { border-color: #222222; }
[class^='tab-type'] .type-title { padding: 15px 0; font-size: 16px; color: #000; }
[class^='tab-type'].v2 ul li a { background: #f5f5f5; font-size: 16px; color: #888888; font-weight: 500; }
[class^='tab-type'].v2 ul li a:after { display: none; }
[class^='tab-type'].v2 ul li.active a { background: #fff; color: #111; }

.tab-type2, .tab-type3 { border-bottom: 1px solid #e4e4e4; }
.tab-type2 li a, .tab-type3 li a { height: 45px; line-height: 44px; border: 0; background: 0; color: #888888; font-size: 16px; }
.tab-type2 li a:after, .tab-type3 li a:after { border: 0; bottom: -1px; }
.tab-type2 li.active a, .tab-type3 li.active a { background: 0; color: #000; font-weight: 700; }
.tab-type2 li.active a:after, .tab-type3 li.active a:after { border-bottom: 2px solid #000; }

.tab-type4 { font-size: 0; text-align: center; margin: 50px 0; }
.tab-type4 ul { margin-left: 0px; }
.tab-type4 li { overflow: hidden; display: inline-block; width: 33.3%; text-align: center; margin: 0; }
.tab-type4 li:nth-child(n+2) { margin-left: 1px; }
.tab-type4 li:nth-child(-n+4) a { border-bottom: 2px solid #fff; }
.tab-type4 li a { display: block; height: 48px; line-height: 48px; background: #f5f5f5; font-size: 15px; border-right: 2px solid #fff; color: #888888; }
.tab-type4 li a:after { display: none; }
.tab-type4 li a:before { display: inline-block; content: ''; position: absolute; top: 50%; right: 20px; margin-top: -4px; display: inline-block; width: 8px; height: 8px; border-style: solid; border-color: transparent #dfdfdf #dfdfdf transparent; border-width: 1px 1px 1px 1px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.tab-type4 li.active a { background: #222; color: #fff; font-weight: 500; }
.tab-type4 li.active a:before { display: inline-block; width: 8px; height: 8px; border-style: solid; border-color: transparent #c0c0c0 #c0c0c0 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.tab-type4.col2 li { width: 33.3%; }
.tab-type4.col2 li:last-child a { border-right: 2px solid #fff; }
.tab-type4.col3 li:nth-child a { border-bottom: 2px solid #fff; }
.tab-type4.col5 li { width: 20%; }

.tab-type5 li a { font-size: 16px; background: #f5f5f5; }
.tab-type5 li a:after { border-color: #f5f5f5; border-bottom: 1px solid #111; }
.tab-type5 li.active a { background: #fff; z-index: 2; color: #111; }
.tab-type5 li.active a:after { border-color: #111; border-bottom: none; }

.tab-type6 ul li { position: relative; }
.tab-type6 ul li a { background: #fff; font-size: 20px; height: 66px; line-height: 66px; }
.tab-type6 ul li a:after { content: ''; border: none; }
.tab-type6 ul li.active a { background: #FFF; color: #111; }
.tab-type6 ul li:first-child:before { content: ''; display: none; }
.tab-type6 ul li:before { content: ''; width: 1px; height: 15px; background: #ddd; position: absolute; left: 0; top: 25.5px; z-index: 2; }

[class^='tab-content'] { display: none; }
[class^='tab-content'].active { display: block; }

.btn-toggle-close { display: inline-block; }
.btn-toggle-close:after { content: ''; display: inline-block; width: 14px; height: 14px; border-style: solid; border-color: transparent #000 #000 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); transition: all 0.3s ease-in-out; vertical-align: -8px; }

.close .btn-toggle-close:after { content: ''; display: inline-block; width: 14px; height: 14px; border-style: solid; border-color: transparent #000 #000 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); transition: all 0.3s ease-in-out; vertical-align: 14px; }

.pager-wrap { text-align: center; }
.pager-wrap .pager-inner { display: inline-block; margin: 50px auto 0; text-align: center; font-size: 0; }
.pager-wrap .pager-inner [class^='pager-'] { display: inline-block; font-size: 15px; color: #888888; vertical-align: middle; }
.pager-wrap .pager-inner .pager-item { position: relative; padding: 0 11px; }
.pager-wrap .pager-inner .pager-item.active { color: #111; font-weight: 600; }
.pager-wrap .pager-inner [class^='pager-arr-'] { display: inline-block; }
.pager-wrap .pager-inner .pager-arr-prev { padding: 0 11px 0 16px; }
.pager-wrap .pager-inner .pager-arr-prev:after { content: ''; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); vertical-align: 1px; }
.pager-wrap .pager-inner .pager-arr-next { padding: 0 16px 0 11px; }
.pager-wrap .pager-inner .pager-arr-next:after { content: ''; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); vertical-align: 1px; }
.pager-wrap .pager-inner .pager-first:after { content: ''; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); vertical-align: 1px; }
.pager-wrap .pager-inner .pager-first:before { content: ''; margin-right: 1px; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); vertical-align: 1px; }
.pager-wrap .pager-inner .pager-last:after { content: ''; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); vertical-align: 1px; }
.pager-wrap .pager-inner .pager-last:before { content: ''; margin-right: 1px; display: inline-block; width: 7px; height: 7px; border-style: solid; border-color: transparent #888 #888 transparent; border-width: 0 1px 1px 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); vertical-align: 1px; }

[class^='title-wrap'] { position: relative; }
[class^='title-wrap'] [class^='title-type'] { display: inline-block; vertical-align: middle; font-size: 28px; color: #111; font-weight: 400; }
[class^='title-wrap'] [class^='title-type'] + .summary { position: relative; display: inline-block; font-size: 14px; color: #888888; vertical-align: middle; }
[class^='title-wrap'] [class^='title-type2'] { font-size: 18px; font-weight: 700; color: #111; line-height: 20px; }
[class^='title-wrap'] [class^='title-type3'] { font-size: 20px; color: #111; padding-bottom: 5px; border-bottom: 2px solid #000; }
[class^='title-wrap'] [class^='title-type5'] { font-size: 40px; color: #111; font-weight: 600; }
[class^='title-wrap'] .side { position: absolute !important; right: 0; position: absolute; top: 50%; transform: translateY(-50%); }

.title-wrap-center { text-align: center; }

.title-wrap2 { padding-bottom: 5px; border-bottom: 2px solid #111; }

.title-wrap3 { padding-top: 12px; border-top: 1px solid #111; }
.title-wrap3 .title-type { padding-left: 10px; font-size: 20px; font-weight: 600; color: #111; }
.title-wrap3 .title-type strong { display: inline-block; margin-left: 10px; color: #1391ff; }

.title-type { font-size: 20px; font-weight: 600; color: #111; line-height: 30px; }

.title-type2 { font-size: 18px; font-weight: 600; color: #111; line-height: 25px; }

.title-type3 { font-size: 14px; color: #111; line-height: 20px; }

.title-type4 { font-size: 16px; color: #111; font-weight: 300; }

.title-type5 { font-size: 40px; color: #111; font-weight: 600; }

.title-type6 { font-size: 34px; color: #111; font-weight: 500; }

.search-form { position: relative; padding-left: 18px; padding-right: 60px; border: 1px solid #ddd; }
.search-form input[type='text'] { padding-left: 0; border: 0; font-size: 17px; height: 58px; line-height: 58px; }
.search-form .btn-search .btn-submit { position: absolute; top: 50%; right: 20px; margin-top: -13px; background: 0; font-size: 0; }
.search-form .btn-search:after .btn-submit:after{ display: inline-block; content: ''; width: 26px; height: 26px; background: url("../../images/user/sp_common.png") no-repeat -756px 0; }
.search-form .btn-clear { position: absolute; right: 40px; top: 50%; margin-top: -8px; width: 16px; height: 16px; background: #dfdfdf; border-radius: 100%; font-size: 0; }
.search-form .btn-clear:after, .search-form .btn-clear:before { content: ''; display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); background: #fff; }
.search-form .btn-clear:after { width: 10px; height: 1px; }
.search-form .btn-clear:before { width: 1px; height: 10px; }
.search-form.v2 { position: relative; padding: 0; border: none; border-bottom: 2px solid #000; }
.search-form.v2 input[type='text'] { padding-right: 30px; border: 0; height: 35px; line-height: 35px; }
.search-form.v2 .btn-search { right: 0; top: 0; margin-top: 4px; }

.form-item.type2 input[type="text"], .form-item.type2 input[type="password"], .form-item.type2 textarea { background: #f5f5f5; border-color: #f5f5f5; }
.form-item.type3 input[type="text"], .form-item.type3 input[type="password"], .form-item.type3 textarea { padding-left: 0; background: #fff; border: 0; border-bottom: 1px solid #ddd; }

.select-type { position: relative; width: 100%; height: 33px; line-height: 30px; }
.select-type:after { content: ''; z-index: 2; position: absolute; top: 8px; right: 6px; display: inline-block; width: 12px; height: 12px; border-style: solid; border-color: transparent #000 #000 transparent; border-width: 0 1.5px 1.5px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.ie9 .select-type:after { display: none; }
.select-type select { height: 100%; padding-right: 25px; border: 0; border-bottom: 2px solid #000; line-height: inherit; font-size: 15px; color: #000; font-weight: 500; }
.select-type select.selected { color: #000; font-weight: 500; opacity: 1; }
.select-type select.selected option { color: #111; }
.select-type select:focus { border-color: #000; }

[class^='table-type'] th, [class^='table-type'] td { padding: 10px 3px; border: 1px solid #ddd; font-size: 12px; vertical-align: middle; }
[class^='table-type'] th.text-left, [class^='table-type'] td.text-left { text-align: left; }
[class^='table-type'] th .title, [class^='table-type'] td .title { overflow: hidden; text-overflow: ellipsis; display: block; max-width: 100%; white-space: nowrap; }
[class^='table-type'] th { background: #f5f5f5; vertical-align: middle; }
[class^='table-type'].v2 tbody tr td { padding: 5px; text-align: center; }
[class^='table-type'] + .pager-wrap { margin-top: 40px; }
[class^='table-type'] + .pagination { margin-top: 50px; }

.table-type2 { border-bottom: 1px solid #888888; }
.table-type2 th, .table-type2 td { border-left: 0; border-right: 0; text-align: center; font-size: 14px; }
.table-type2 thead th { padding: 15px 0; background: 0; border-top: 0; font-weight: 700; color: #111; }
.table-type2 tbody td { padding: 25px 0; color: #888888; }
.table-type2 tbody td a { color: inherit; }
.table-type2 tbody td .state { color: #111; }

.table-type3 table{ width:1200px; }
.table-type3 th, .table-type4 th, .table-type3 td, .table-type4 td { border-left: 0; border-right: 0; text-align: center; font-size: 14px; }
.table-type3 thead th, .table-type4 thead th { padding: 20px 0 18px; background: 0; font-weight: 600; font-size: 16px; line-height: 1; color: #111; border-top: 2px solid #111; border-bottom: 1px solid #111; }
.table-type3 tbody td, .table-type4 tbody td { padding: 25px 0; color: #888888; font-size: 14px; line-height: 24px; font-weight: 400; border-bottom: 1px solid #ddd; }

.table-type4 thead th { padding: 18px 0; background: 0; font-weight: 600; font-size: 15px; line-height: 1; color: #111; border-top: 2px solid #111; border-bottom: 1px solid #ddd; }
.table-type4 tbody td { padding: 18px 0; color: #111; font-size: 16px; line-height: 24px; font-weight: 500; border-bottom: 1px solid #ddd; }

.table-type5 th, .table-type5 td { padding: 20px 0; font-size: 13px; color: #888888; }
.table-type5 td { padding-left: 30px; }
.table-type5 thead th { background: #f9f9f9; }

.table-type6 th, .table-type6 td { text-align: center; padding: 40px 20px; font-size: 14px; line-height: 24px; color: #666; }
.table-type6 td { text-align: center; }
.table-type6 thead th { background: #f5f5f5; font-size: 16px; color: #111; padding: 20px 0; }

